nextflow.enable.dsl = 2
params {
  
    input         = null        
    query         = null        
    target_db     = null      
    
    // Databases
    eggnog_db     = null        
    domain_db     = "Pf_Sm"     
    prostt5_db    = null    
    // Execution Defaults
    threads       = 30
    outdir        = "./results"
}

// Global Process Settings
process {
    container = 'abdoallahsharaf/trueortho:2.0'
    cpus      = params.threads
    memory    = '16 GB'
}



// Singularity settings
singularity {
    enabled    = true
    autoMounts = true
    runOptions = "-B ${projectDir}:${projectDir}"
    cacheDir   = './work/singularity'
}
