params {
    csv_file  = "input.csv"
    threads   = 10
    eggnog_db = ""
    domain_db = ""
}

process {
    cpus    = { params.threads }
    memory  = '8 GB'

    withName: 'HOMOLOGY_SEARCH' {
        cpus = { params.threads }
    }
    withName: 'ORTHOLOG_ASSIGN' {
        cpus = { params.threads }
    }
    withName: 'DOMAIN_SCAN' {
        cpus = { params.threads }
    }
}

conda {
    enabled  = true
    useMamba = true
    cacheDir = "./work/conda"
}
